extends layout

block content
    div.tabletitle
        div Employees
        div
            a(href='/add') Add Employees
    table
        thead
            th First
            th Last
            th Title
            th Address
            th Number
            th Year Hired
            th Actions
        tbody
            each employee in employees
                tr
                    td= employee.first
                    td= employee.last
                    td= employee.title
                    td
                        div #{employee.street1}
                        div #{employee.street2}
                        div= `${employee.city}, ${employee.state} ${employee.zip}`
                    td= employee.phone
                    td= employee.yearstarted
                    td
                        div.actions
                            a(href=`/update/${employee.id}`) Edit
                            a(href=`/delete/${employee.id}`) Delete